DBAAS_TOKEN_URL=https://<zitadel-domain>/oauth/v2/token
DBAAS_CLIENT_ID=<paste sdk_test_client_id>
DBAAS_CLIENT_SECRET=<paste sdk_test_client_secret>
DBAAS_PROJECT_ID=<paste paas_project_id>
DBAAS_API_URL=<api-url>